name: Deploy to Cloudflare Pages

on:
  push:
    branches:
      - main
      - react-version
  pull_request:
    branches:
      - main
      - react-version

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    name: Deploy to Cloudflare Pages
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Publish to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: e5213e13e4f8067e22f4450f8a3663a4
          projectName: axio-eng
          directory: dist
